<a href="https://colab.research.google.com/github/Ayombi/dsc-strings/blob/master/Phase_1_Code_Challenge_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Phase 1 Code Challenge
This code challenge is designed to test your understanding of the Phase 1 material. It covers:

- Pandas
- Data Visualization
- Exploring Statistical Data
- Python Data Structures

*Read the instructions carefully.* Your code will need to meet detailed specifications to pass automated tests.

## Code Tests

We have provided some code tests for you to run to check that your work meets the item specifications. Passing these tests does not necessarily mean that you have gotten the item correct - there are additional hidden tests. However, if any of the tests do not pass, this tells you that your code is incorrect and needs changes to meet the specification. To determine what the issue is, read the comments in the code test cells, the error message you receive, and the item instructions.

---
## Part 1: Pandas [Suggested Time: 15 minutes]
---
In this part, you will preprocess a dataset from the video game [FIFA19](https://www.kaggle.com/karangadiya/fifa19), which contains data from the players' real-life careers.

In [1]:
# Run this cell

import pandas as pd
import numpy as np
from numbers import Number
import warnings
warnings.filterwarnings('ignore')

### 1.1) Read `fifa.csv` into a pandas DataFrame named `df`

Use pandas to create a new DataFrame, called `df`, containing the data from the dataset in the file `fifa.csv` in the folder containing this notebook.

Hint: Use the string `'./fifa.csv'` as the file reference.

**Starter Code**

    df = pd.read_csv('/content/fifa (2).csv')

In [2]:
# YOUR CODE HERE
df = pd.read_csv('/content/fifa (2).csv')

In [3]:
# This test confirms that you have created a DataFrame named df

assert type(df) == pd.DataFrame

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 88 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Photo                     18207 non-null  object
 4   Nationality               18207 non-null  object
 5   Flag                      18207 non-null  object
 6   Overall                   18207 non-null  int64
 7   Potential                 18207 non-null  int64
 8   Club                      17966 non-null  object
 9   Club Logo                 18207 non-null  object
 10  Value                     18207 non-null  object
 11  Wage                      18207 non-null  object
 12  Special                   18207 non-null  int64
 13  Preferred Foot            18159 non-null  object
 14  International Reputation  18159 non-null  float64
 15  Weak Foot                 18159 non-null  float64
 16  Skill Moves               18159 non-null  float64
 17  Work Rate                 18159 non-null  object
 18  Body Type                 18159 non-null  object
 19  Real Face                 18159 non-null  object
 20  Position                  18147 non-null  object
 21  Jersey Number             18147 non-null  float64
 22  Joined                    16654 non-null  object
 23  Loaned From               1264 non-null   object
 24  Contract Valid Until      17918 non-null  object
 25  Height                    18159 non-null  object
 26  Weight                    18159 non-null  object
 27  LS                        16122 non-null  object
 28  ST                        16122 non-null  object
 29  RS                        16122 non-null  object
 30  LW                        16122 non-null  object
 31  LF                        16122 non-null  object
 32  CF                        16122 non-null  object
 33  RF                        16122 non-null  object
 34  RW                        16122 non-null  object
 35  LAM                       16122 non-null  object
 36  CAM                       16122 non-null  object
 37  RAM                       16122 non-null  object
 38  LM                        16122 non-null  object
 39  LCM                       16122 non-null  object
 40  CM                        16122 non-null  object
 41  RCM                       16122 non-null  object
 42  RM                        16122 non-null  object
 43  LWB                       16122 non-null  object
 44  LDM                       16122 non-null  object
 45  CDM                       16122 non-null  object
 46  RDM                       16122 non-null  object
 47  RWB                       16122 non-null  object
 48  LB                        16122 non-null  object
 49  LCB                       16122 non-null  object
 50  CB                        16122 non-null  object
 51  RCB                       16122 non-null  object
 52  RB                        16122 non-null  object
 53  Crossing                  18159 non-null  float64
 54  Finishing                 18159 non-null  float64
 55  HeadingAccuracy           18159 non-null  float64
 56  ShortPassing              18159 non-null  float64
 57  Volleys                   18159 non-null  float64
 58  Dribbling                 18159 non-null  float64
 59  Curve                     18159 non-null  float64
 60  FKAccuracy                18159 non-null  float64
 61  LongPassing               18159 non-null  float64
 62  BallControl               18159 non-null  float64
 63  Acceleration              18159 non-null  float64
 64  SprintSpeed               18159 non-null  float64
 65  Agility                   18159 non-null  float64
 66  Reactions                 18159 non-null  float64
 67  Balance                   18159 non-null  float64
 68  ShotPower                 18159 non-null  float64
 69  Jumping                   18159 non-null  float64
 70  Stamina                   18159 non-null  float64
 71  Strength                  18159 non-null  float64
 72  LongShots                 18159 non-null  float64
 73  Aggression                18159 non-null  float64
 74  Interceptions             18159 non-null  float64
 75  Positioning               18159 non-null  float64
 76  Vision                    18159 non-null  float64
 77  Penalties                 18159 non-null  float64
 78  Composure                 18159 non-null  float64
 79  Marking                   18159 non-null  float64
 80  StandingTackle            18159 non-null  float64
 81  SlidingTackle             18159 non-null  float64
 82  GKDiving                  18159 non-null  float64
 83  GKHandling                18159 non-null  float64
 84  GKKicking                 18159 non-null  float64
 85  GKPositioning             18159 non-null  float64
 86  GKReflexes                18159 non-null  float64
 87  Release Clause            16643 non-null  float64
dtypes: float64(39), int64(5), object(44)
memory usage: 12.2+ MB

### 1.2) Convert the `'Release Clause'` values from Euros to dollars

The `'Release Clause'` variable contains prices denominated in Euros. Use the exchange rate `1 Euro = 1.2 Dollars` to convert the prices to dollars.

In [6]:
# Define the exchange rate
euro_to_dollar_exchange_rate = 1.2
# Convert the 'Release Clause' values from Euros to dollars
df['Release Clause'] = df['Release Clause'] * euro_to_dollar_exchange_rate
df['Release Clause'].head()

0    326160.0
1    183024.0
2    328464.0
3    199584.0
4    282816.0
Name: Release Clause, dtype: float64

In [ ]:
# Ignore this cell

### 1.3) Drop rows from `df` with missing values for the `'Release Clause'` feature.
    
Make sure that `df` remains the name of the dataset with the dropped rows.

In [7]:
# YOUR CODE HERE
df = df.dropna(subset=['Release Clause'])

In [8]:
# This test confirms that your dataset has the correct number of observations after dropping

assert df['Release Clause'].shape[0] == 16643

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16643 entries, 0 to 18206
Data columns (total 88 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16643 non-null  int64
 1   Name                      16643 non-null  object
 2   Age                       16643 non-null  int64
 3   Photo                     16643 non-null  object
 4   Nationality               16643 non-null  object
 5   Flag                      16643 non-null  object
 6   Overall                   16643 non-null  int64
 7   Potential                 16643 non-null  int64
 8   Club                      16643 non-null  object
 9   Club Logo                 16643 non-null  object
 10  Value                     16643 non-null  object
 11  Wage                      16643 non-null  object
 12  Special                   16643 non-null  int64
 13  Preferred Foot            16643 non-null  object
 14  International Reputation  16643 non-null  float64
 15  Weak Foot                 16643 non-null  float64
 16  Skill Moves               16643 non-null  float64
 17  Work Rate                 16643 non-null  object
 18  Body Type                 16643 non-null  object
 19  Real Face                 16643 non-null  object
 20  Position                  16643 non-null  object
 21  Jersey Number             16643 non-null  float64
 22  Joined                    16643 non-null  object
 23  Loaned From               0 non-null      object
 24  Contract Valid Until      16643 non-null  object
 25  Height                    16643 non-null  object
 26  Weight                    16643 non-null  object
 27  LS                        14743 non-null  object
 28  ST                        14743 non-null  object
 29  RS                        14743 non-null  object
 30  LW                        14743 non-null  object
 31  LF                        14743 non-null  object
 32  CF                        14743 non-null  object
 33  RF                        14743 non-null  object
 34  RW                        14743 non-null  object
 35  LAM                       14743 non-null  object
 36  CAM                       14743 non-null  object
 37  RAM                       14743 non-null  object
 38  LM                        14743 non-null  object
 39  LCM                       14743 non-null  object
 40  CM                        14743 non-null  object
 41  RCM                       14743 non-null  object
 42  RM                        14743 non-null  object
 43  LWB                       14743 non-null  object
 44  LDM                       14743 non-null  object
 45  CDM                       14743 non-null  object
 46  RDM                       14743 non-null  object
 47  RWB                       14743 non-null  object
 48  LB                        14743 non-null  object
 49  LCB                       14743 non-null  object
 50  CB                        14743 non-null  object
 51  RCB                       14743 non-null  object
 52  RB                        14743 non-null  object
 53  Crossing                  16643 non-null  float64
 54  Finishing                 16643 non-null  float64
 55  HeadingAccuracy           16643 non-null  float64
 56  ShortPassing              16643 non-null  float64
 57  Volleys                   16643 non-null  float64
 58  Dribbling                 16643 non-null  float64
 59  Curve                     16643 non-null  float64
 60  FKAccuracy                16643 non-null  float64
 61  LongPassing               16643 non-null  float64
 62  BallControl               16643 non-null  float64
 63  Acceleration              16643 non-null  float64
 64  SprintSpeed               16643 non-null  float64
 65  Agility                   16643 non-null  float64
 66  Reactions                 16643 non-null  float64
 67  Balance                   16643 non-null  float64
 68  ShotPower                 16643 non-null  float64
 69  Jumping                   16643 non-null  float64
 70  Stamina                   16643 non-null  float64
 71  Strength                  16643 non-null  float64
 72  LongShots                 16643 non-null  float64
 73  Aggression                16643 non-null  float64
 74  Interceptions             16643 non-null  float64
 75  Positioning               16643 non-null  float64
 76  Vision                    16643 non-null  float64
 77  Penalties                 16643 non-null  float64
 78  Composure                 16643 non-null  float64
 79  Marking                   16643 non-null  float64
 80  StandingTackle            16643 non-null  float64
 81  SlidingTackle             16643 non-null  float64
 82  GKDiving                  16643 non-null  float64
 83  GKHandling                16643 non-null  float64
 84  GKKicking                 16643 non-null  float64
 85  GKPositioning             16643 non-null  float64
 86  GKReflexes                16643 non-null  float64
 87  Release Clause            16643 non-null  float64
dtypes: float64(39), int64(5), object(44)
memory usage: 11.3+ MB

### 1.4) Create a list `top_10_countries` containing the names of the 10 countries with the most players (using the `'Nationality'` column).

Hint: Your answer should include England, Germany, Spain, France, and Argentina

**Starter Code**

    top_10_countries =

In [18]:
# YOUR CODE HERE
top_10_countries = df['Nationality'].value_counts().head(10).index.tolist()
print(top_10_countries)

['England', 'Germany', 'Spain', 'France', 'Argentina', 'Brazil', 'Italy', 'Colombia', 'Japan', 'Netherlands']
['England', 'Germany', 'Spain', 'France', 'Argentina', 'Brazil', 'Italy', 'Colombia', 'Japan', 'Netherlands']

In [19]:
# This test confirms that you have created a list named top_10_countries

assert type(top_10_countries) == list

# This test confirms that top_10_countries contains England, Germany, Spain, France, and Argentina

assert set(['England', 'Germany', 'Spain', 'France', 'Argentina']).issubset(set(top_10_countries))

## Part 2: Data Visualization [Suggested Time: 20 minutes]
This part uses the same FIFA dataset, and asks you to plot data using `matplotlib`.

In [20]:
# Run this cell

import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

### 2.1) Create a matplotlib figure `player_count_figure` containing a labeled bar chart with the number of players from England, Germany, Spain, France, and Argentina

Use the strings provided below (`bar_chart_title`, `bar_chart_count_label`, and `bar_chart_series_label`) to title and label your bar chart.

Hint: These are the countries with the top 5 numbers of players, so you may be able to adapt some of the code you used for question 1.4. If you were unable to complete 1.4, use the following values:

```
Country Name  | Num Players
============  | ===========
England       | 1000
Germany       | 900
Spain         | 800
France        | 700
Argentina     | 600
```

**Starter Code**

    player_count_figure, ax = plt.subplots(figsize=(10, 6))

In [22]:
bar_chart_countries = ['England', 'Germany', 'Spain', 'France', 'Argentina']

bar_chart_title = '5 Countries with the Most Players'
bar_chart_count_label = 'Number of Players'
bar_chart_series_label = 'Nationality'

# YOUR CODE HERE
player_count_figure, ax = plt.subplots(figsize=(10, 6))
ax.plot(top_10_countries, Num Players)
ax.legend(["Sample Data"]);

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-22-09ca7ee1d46f>, line 9)

In [ ]:
# This test confirms that you have created a figure named player_count_figure

assert type(player_count_figure) == plt.Figure

# This test confirms that the figure contains exactly one axis

assert len(player_count_figure.axes) == 1

In [ ]:
# These tests confirm that the figure has a title and axis labels

assert player_count_figure.axes[0].get_title() != ''
assert player_count_figure.axes[0].get_ylabel() != ''
assert player_count_figure.axes[0].get_xlabel() != ''

### 2.2) Create a matplotlib figure `tackle_figure` containing a labeled scatter plot visualizing the relationship between `StandingTackle` (on X axis) and `SlidingTackle` (on Y axis)

Use the strings provided below (`scatter_plot_title`, `standing_tackle_label`, and `sliding_tackle_label`) to title and label your scatter plot.

**Starter Code**

    tackle_figure, ax = plt.subplots(figsize=(10, 6))

In [ ]:
scatter_plot_title = 'Relationship Between Standing Tackles and Sliding Tackles'
standing_tackle_label = 'Standing Tackles'
sliding_tackle_label = 'Sliding Tackles'

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# This test confirms that you have created a figure named tackle_figure

assert type(tackle_figure) == plt.Figure

# This test confirms that the figure contains exactly one axis

assert len(tackle_figure.axes) == 1

## Part 3: Exploring Statistical Data [Suggested Time: 20 minutes]
This part does some exploratory analysis using the same FIFA dataset.

### 3.1) Create numeric variables `mean_age` and `median_age` containing the mean and median player ages (respectively).

**Starter Code**

    mean_age =
    median_age =

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# These tests confirm that you have created numeric variables named mean_age and median_age

assert isinstance(mean_age, Number)
assert isinstance(median_age, Number)

### 3.2) Create numeric variables `oldest_argentine_name` and `oldest_argentine_age` containing the name and age (respectively) of the oldest player with Argentina nationality.

**Starter Code**

    oldest_argentine_name =
    oldest_argentine_age =

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# This test confirms that you have created a string variable named oldest_argentine_name

assert type(oldest_argentine_name) == str

# This test confirms that you have created a numeric variable named oldest_argentine_age

assert isinstance(oldest_argentine_age, Number)

## Part 4: Python Data Structures [Suggested Time: 20 min]

Below is a dictionary `players` with information about soccer players. The keys are player names and the values are dictionaries containing each player's age, nationality, and a list of teams they have played for.

In [ ]:
# Run this cell

players = {
    'L. Messi': {
        'age': 31,
        'nationality': 'Argentina',
        'teams': ['Barcelona']
    },
    'Cristiano Ronaldo': {
        'age': 33,
        'nationality': 'Portugal',
        'teams': ['Juventus', 'Real Madrid', 'Manchester United']
    },
    'Neymar Jr': {
        'age': 26,
        'nationality': 'Brazil',
        'teams': ['Santos', 'Barcelona', 'Paris Saint-German']
    },
    'De Gea': {
        'age': 27,
        'nationality': 'Spain',
        'teams': ['Atletico Madrid', 'Manchester United']
    },
    'K. De Bruyne': {
        'age': 27,
        'nationality': 'Belgium',
        'teams': ['Chelsea', 'Manchester City']
    }
}

### 4.1) Create a list `player_names` of all the player names in dictionary `players`.

**Starter Code**

    player_names =

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# This test confirms that you have created a list named player_names

assert type(player_names) == list

### 4.2) Create a list of tuples `player_nationalities` containing each player's name along with their nationality.

**Starter Code**

    player_nationalities =

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# This test confirms that you have created a list named player_nationalities

assert type(player_nationalities) == list

### 4.3) Define a function `get_players_on_team()` that returns a list of names of all the players who have played on a given team.

Your function should take two arguments:

- A dictionary of player information
- A string containing a team name (for which you are trying to find the player names)

**Starter Code**

    def get_players_on_team(player_dict, team_name):
        player_list = []
    
        return player_list

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# This test confirms that get_players_on_team() returns the right names for Manchester United

manchester_united_players = ['Cristiano Ronaldo', 'De Gea']
players_on_manchester_united = get_players_on_team(players, 'Manchester United')

assert players_on_manchester_united == manchester_united_players